.about__container {
    display: grid;
    grid-template-columns: 35% 50%;
    gap: 15%;
}

.about__me {
    width: 100%;
    border-radius: 48px;
    aspect-ratio: 1/1;
    place-items: center;
    display: grid;
    
}

.about__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
}

.about__card {
    background: var(--color-bg-variant);
    border: 1px solid transparent;
    border-radius: 32px;
    padding: 1.5rem;
    text-align: center;
    transition: var(--transition);
}

.about__card:hover {
    background: transparent;
    border-color: var(--color-primary-variant);
    cursor: default;
}

.about__icon {
    color: var(--color-light);
    font-size: 1.4rem;
    margin-bottom: 1rem;
}

.about__card h5 {
    font-size: 0.95rem;
    color: var(--color-light);
}

.about__card small {
    font-size: 0.7rem;
    color: var(--color-light);
}

.about__content p {
    margin: 2rem 0 2.6rem;
    color: var(--color-light);
}

@media screen and (min-width: 1024px) {
    .about__me__image {
        width: 250px;
        height: 450px;
        margin: 20px auto 40px auto;
        perspective: 1024px
    }
    
    .about__me__image img {
        border-radius: 64px;
        display: block;
        width: 100%;
        height: 100%;
        background-size: cover;
        transform-style: preserve-3d;
        transform: rotateY(45deg);
        transition: all 1.2s;  
    }
    
    .about__me__image:hover img {
        transform: rotateX(20deg);
    }
    
    .about__me__image img:after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 40px;
        background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.1));    
        transform: rotateX(90deg);
        transform-origin: bottom;
    }
}

/* =================== MEDIA(MEDIUM) ====================== */

@media screen and (max-width: 1024px) {
    .about__container {
        grid-template-columns: 1fr;
        gap: 0;
    }
    
    .about__me {
        width: 50%;
        margin: 2rem auto 4rem;
    }
    
    .about__me__image {
        margin-top: 4rem;
        border-radius: 80px;
        overflow: hidden;
        transition: var(--transition);
        margin-bottom: 8rem;
        height: 110%;
    }
    
    .about__content p {
        margin: 1rem 0 1.5rem;
    }
}

/* =================== MEDIA(SMALL) ====================== */

@media screen and (max-width: 600px) {
    .about__me {
        width: 60%;
        margin: 1rem auto 3rem;
    }
    
    .about__me__image {
        margin-bottom: 6rem;
        height: 120%;
    }
    
    .about__cards {
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }
    
    .about__content {
        text-align: center;
    }
    
    .about__content p {
        margin: 1.5rem 0;
    }
}