header {
    height: 100vh;
    padding-top: 5rem;
    overflow: scroll;
}

.header__container {
    text-align: center;
    height: 100%;
    position: relative;
}

/* ======= CTA =========== */

.cta {
    margin-top: 1rem;
    display: flex;
    gap: 1.2rem;
    justify-content: center;
}

/* ======= SOCIALS =========== */

.header__socials {
    margin-top: 1rem;
    display: flex;
    gap: 1.2rem;
    justify-content: center;
}

.header__socials::after {
    width: 1px;
    height: 2rem;
    background: var(--color-primary);
}

/* ======= ME IMAGE =========== */

.me {
    background: linear-gradient(var(--color-primary), transparent);
    width: 22.5rem;
    height: 28rem;
    position: absolute;
    left: calc(50% - 11rem);
    margin-top: 4rem;
    border-radius: 12rem 12rem 0 0;
    overflow: hidden;
    padding: 5.5rem 1.5rem 1.5rem 1rem;
}

/* ======= SCROLL-DOWN =========== */

.scroll__down {
    position: absolute;
    width: 40px;
    right: -2.8rem;
    bottom: 6rem;
    font-weight: 500;
    font-size: 0.9rem;
}

/* =================== MEDIA(Medium Devices) ====================== */

@media screen and (max-width: 1024px) {
    .container {
        width: var(--container-with-md);
    }
    
    section {
        margin-top: 6rem;
    }
}

/* =================== MEDIA(PHONES/TABLETS) ====================== */

@media screen and (max-width: 600px) {
    .container {
        width: var(--container-with-sm);
    }
    
    section > h2 {
        margin-bottom: 2rem;
    }
}