nav {
    background: rgba(0, 0, 0, 0.3);
    position: fixed;
    width: max-content;
    z-index: 1;
    top: 30%;
    left: 2rem;
    overflow-x: hidden;
    border-radius: 48px;
    backdrop-filter: blur(15px);
}

nav a {
    background: transparent;
    color: var(--color-light);
    display: block;
    padding: 1.4rem;
    font-size: 1rem;
    border-radius: 50%;
}

nav a:hover {
    background: rgba(0, 0, 0, 0.3);
}

nav a.active {
    background: linear-gradient(to right, var(--color-primary-variant), var(--color-primary), var(--color-primary));
    color: var(--color-bg);
}

/* =================== MEDIA(MEDIUM) ====================== */

@media screen and (max-width: 1024px) {
    nav {
        background: rgba(0, 0, 0, 0.3);
        position: fixed;
        width: max-content;
        z-index: 1;
        top: calc(100vh) - 50%;
        left: 2rem;
        overflow-x: hidden;
        border-radius: 48px;
        backdrop-filter: blur(15px);
    }
    
    nav a {
        background: transparent;
        padding: 1.2rem;
        border-radius: 50%;
        display: flex;
        font-size: 1.0rem;
    }
}

@media screen and (max-height: 620px) {
    nav {
        background: rgba(0, 0, 0, 0.3);
        position: fixed;
        width: max-content;
        z-index: 1;
        top: 30%;
        left: 2rem;
        overflow-x: hidden;
        border-radius: 48px;
        backdrop-filter: blur(15px);
    }
    
    nav a {
        background: transparent;
        padding: 1.2rem;
        border-radius: 50%;
        display: flex;
        font-size: 1.0rem;
    }
}


/* =================== MEDIA(SMALL) ====================== */

@media screen and (max-width: 600px) {
    
    nav {
        background: rgba(0, 0, 0, 0.3);
        width: max-content;
        padding: 0.7rem 1.7rem;
        display: block;
        z-index: 2;
        position: fixed;
        left: 50%;
        top: auto;
        transform: translateX(-50%);
        bottom: 2rem;
        display: flex;
        gap: 0.8rem;
        border-radius: 48px;
        backdrop-filter: blur(15px);
    }
    
    nav a {
        background: transparent;
        padding: 0.6rem;
        border-radius: 50%;
        display: flex;
        font-size: 1.1rem;
    }
}

@media screen and (max-height: 480px) {
    nav {
        background: rgba(0, 0, 0, 0.3);
        width: max-content;
        padding: 0.7rem 1.7rem;
        display: block;
        z-index: 2;
        position: fixed;
        left: 50%;
        top: auto;
        transform: translateX(-50%);
        bottom: 2rem;
        display: flex;
        gap: 0.8rem;
        backdrop-filter: blur(15px);
    }
    
    nav a {
        background: transparent;
        padding: 0.7rem;
        border-radius: 50%;
        display: flex;
        font-size: 1.1rem;
    }
}