nav {
    background: rgba(0, 0, 0, 0.3);
    position: fixed;
    display: flex;
    width: max-content;
    z-index: 1;
    left: -7rem;
    top: 50%;
    transform: rotate(90deg);
    overflow-x: hidden;
    border-radius: 48px;
    -webkit-backdrop-filter: blur(15px);
            backdrop-filter: blur(15px);
}

nav a {
    background: transparent;
    color: var(--color-light);
    transform: rotate(-90deg);
    display: block;
    line-height: 1.0;
    padding: 1.3rem;
    font-size: 1.2rem;
    border-radius: 50%;
}

nav a:hover {
    background: rgba(0, 0, 0, 0.3);
}

nav a.active {
    background: -webkit-gradient(linear, left top, right top, from(var(--color-primary-variant)), color-stop(var(--color-primary)), to(var(--color-primary)));
    background: -o-linear-gradient(left, var(--color-primary-variant), var(--color-primary), var(--color-primary));
    background: linear-gradient(to right, var(--color-primary-variant), var(--color-primary), var(--color-primary));
    color: var(--color-bg);
}

/* =================== MEDIA(MEDIUM) ====================== */

@media screen and (max-height: 620px) {
    nav {
        background: rgba(0, 0, 0, 0.3);
        position: fixed;
        width: max-content;
        z-index: 1;
        overflow-x: hidden;
        border-radius: 48px;
        backdrop-filter: blur(15px);
    }
    
    nav a {
        background: transparent;
        padding: 1.2rem;
        border-radius: 50%;
        display: flex;
    }
}


/* =================== MEDIA(SMALL) ====================== */

@media screen and (max-width: 600px) {
    
    nav {
        background: rgba(0, 0, 0, 0.3);
        width: max-content;
        padding: 0.8rem 1.7rem;
        display: block;
        z-index: 2;
        position: fixed;
        left: 50%;
        top: auto;
        transform: translateX(-50%);
        bottom: 2rem;
        display: flex;
        gap: 0.8rem;
        border-radius: 48px;
        backdrop-filter: blur(15px);
        rotate: none;
    }
    
    nav a {
        background: transparent;
        padding: 0.6rem;
        border-radius: 50%;
        display: flex;
        font-size: 1.2rem;
        rotate: none;
    }
}

@media screen and (max-height: 480px) {
    nav {
        background: rgba(0, 0, 0, 0.3);
        width: max-content;
        padding: 0.7rem 1.7rem;
        display: block;
        z-index: 2;
        position: fixed;
        left: 50%;
        top: auto;
        transform: translateX(-50%);
        bottom: 2rem;
        rotate: none;
        display: flex;
        gap: 0.8rem;
        backdrop-filter: blur(15px);
    }
    
    nav a {
        background: transparent;
        padding: 0.7rem;
        border-radius: 50%;
        display: flex;
        font-size: 1.1rem;
        rotate: none;
    }
}