.container.work__container {
    width: 50%;
    padding-bottom: 3.5rem;
}

.job__place {
    width: 5rem;
    aspect-ratio: 1/1;
    overflow: hidden;
    border-radius: 60%;
    margin: 0.3rem auto 0.8rem;
    border: 0.05rem solid var(--color-light);
}

.work__job h3 {
    font-size: x-large;
}

.work__job {
    background: -webkit-gradient(linear, left top, right top, from(var(--color-primary-variant)), color-stop(var(--color-primary)), to(var(--color-primary)));
    background: -o-linear-gradient(left, var(--color-primary-variant), var(--color-primary), var(--color-primary));
    background: linear-gradient(to right, var(--color-primary-variant), var(--color-primary), var(--color-primary));
    text-align: center;
    padding: 1.8rem;
    border-radius: 64px;
    border: 0.2rem solid var(--color-light);
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.job__description {
    color: var(--color-light);
    font-weight: 450;
    display: block;
    width: 60%;
    margin: 1.6rem auto 0;
}

.swiper-pagination-clickable .swiper-pagination-bullet {
    background: var(--color-light);
}

/* =================== MEDIA(MEDIUM) ====================== */

@media screen and (max-width: 1024px) {
    .container.work__container {
        width: 60%;
    }
}

/* =================== MEDIA(SMALL) ====================== */

@media screen and (max-width: 600px) {
    .container.work__container {
        width: var(--container-width-sm);
    }
    
    .job__description {
        width: var(--container-width-sm);
    }
}